u
{
    text-align: center;
    color: white;
}
h1
{
    background-color: black;
    border-radius: 5px;
}
li
{
    color: gray;
}
#end
{
    background-color: white;
    text-align: center;
}
h3
{
    background-color: lightgray;
    padding: 4px;
    border-radius: 5px;
    margin: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topics
{
    color: black;
    font-size: 18px;
    font-family: cursive;
}
h2
{
    background-color: grey;
    color:aqua;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
}
